
<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <a mat-icon-button matTooltip="Basic" class="example-icon" aria-label="Example icon-button with heart icon" [routerLink]="['/products']">
        Amazing Animal Paintings
      </a>
      <span class="example-spacer"></span>
      <a mat-icon-button matTooltip="Basic" class="example-icon" aria-label="Example icon-button with heart icon" [routerLink]="['/products']">
        <mat-icon>store</mat-icon>
      </a>
      <a mat-icon-button matTooltip="Basic" class="example-icon" aria-label="Example icon-button with share icon" [routerLink]="['/cart']">
        <mat-icon >shopping_cart</mat-icon>
      </a>
</mat-toolbar>

<div class="container text-center">
<h1>Amazing Animal Paintings</h1>
<h3>Make your home a special place with our magnificent outstanding paintings</h3>
</div>

<router-outlet></router-outlet>