<div class="container-sm">
    <mat-card>
        <mat-list>
            <mat-list-item *ngFor="let item of cartItems">
                <span matListItemTitle>{{item.name}}</span>
                <span matListItemLine>{{item.price | currency:'USD'}}</span>
            </mat-list-item>

            <mat-list-item>
                <span matListItemTitle>Total</span>
                <span matListItemLine>{{total | currency:'USD'}}</span>
            </mat-list-item>

            <div fxLayout="row grap" fxLayoutAlign="flex-end">
                    <button mat-raised-button class="cart-button custom" (click)="clearCart()">Clear</button>
                    <button mat-raised-button class="cart-button custom" (click)="checkOut()">Check out</button>
            </div>
            
        </mat-list>
    </mat-card>
</div>
